@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url("imagens/11.png");
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .intro {
    height: 600px;
    position: relative;
    display: flex;
    left: 8%;
  }

  
 #play{
     position: absolute;
     left: 46%;
     top: 65%;
     height: 100px;
 }

  #canvas {
    position: absolute;
    top: 15%;
    left: 28%;
  }
  
  .failed {
    position: absolute;
    top: 15%;
    left: 30%;
  }

  #game-over a {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 70%;
    left: 45%;
    color: white;
    text-decoration: none;
  }

  #win a {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    position: absolute;
    top: 80%;
    left: 48%;
    color: white;
    text-decoration: none;
  }

  #win img {
    height: 400px;
    position: absolute;
    top: 10%;
    left: 34%;
  }

  #board button {
    position: absolute;
    top: 9%;
     font-family: 'Open Sans', sans-serif;
     height: 30px;
     width: 60px;
     text-decoration: none;
     padding: 3px 20px;
     border-style: none;
     border-radius: 15px;
  }

  .calendar {
    position: absolute;
    top: 9%;
    left: 29%;
      height: 30px;
  }

  .vaccin {
    position: absolute;
    top: 9%;
    left: 63%;
      height: 30px;
  }

  #months {
    left: 32%;
  }

  .counter {
    left: 65%;
  }

  #caracterChoice {
    position: absolute;
    top: 25%;
    left: 33%;
    
  }

  #playWithTim {
      border: 0.2px solid grey;
      border-radius: 35px;
  }

  #playWithEsther {
    border: 0.2px solid grey;
    border-radius: 35px;

  }